
body {
    padding: 0px;
    margin: 0px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header {
    background-color: #1f2937;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    font-size: 18px;
    color: #e5e7eb;
}

.header,
.initial-info {
    background-color: #1f2937;
    padding-right: 200px;
    padding-left: 200px;
}

.random-information {
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom:30px;
}

ul {
    padding: 0px;
    margin: 0px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

body {
    display: flex;
    flex-direction: column;
}

.initial-info {

    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: flex-start;
    gap: 75px;
}

.img-description {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0px;
    padding: 0px;
}

.sign-in {
    color: #e5e7eb;
    margin-top: 8px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #3882f6;
}

.heading {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.desc {
    color: #f9faf8;
    font-size: 18px
}

.cat {
    border: 5px solid rgb(59, 43, 197);
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
}

.info-title{
    text-align: center;
}

.image-content{
        display:flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap:20px;
        
        
}
.media{
    display:flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow:1;
    gap:10px;
    

}

.small-image{
    width: 235px;
    height:200px;
    border: 5px solid #3882f6;
    
}
.description{
    width:235px;
    color:#3882f6;
}
.quotes{
    background-color: #e5e7eb;
    padding-right: 200px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:8px;
    padding-top:80px;
    padding-bottom:80px;
}
.quote{
    font-style:italic;
    font-size:36px;
    color:#1f2937;
}
.quote-author{
    align-self: last baseline;
    font-weight:bold;
    font-size:20px;
}
.final-sign-up{
    margin-top:60px;
    padding-top:40px;
    padding-bottom:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #3882f6;
    margin-left: 120px;
    margin-right:120px;
    border:1px solid white;
}
.call-to-action{
    display:flex;
    flex-direction: column;
}